.register-container {
    box-sizing: border-box;
    margin: auto;
    max-width: 800px;
    padding: 100px 100px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.column-half {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.row .column-half:last-child{
    margin: 0;
}