.register-container {
    box-sizing: border-box;
    margin: 6% auto 0;
    max-width: 800px;
    padding: 20px 100px;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.column-half {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.row .column-half:last-child{
    margin: 0;
}