input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 8px 8px;
    font-size: 16px;
    margin: 8px 0px;
}

.register-container {
    box-sizing: border-box;
    margin: 6% auto 0;
    width: 450px;
    padding: 20px;
    background-color: #f2f2f2;
    position: relative;
}

.column-half {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.row .column-half:last-child{
    margin: 0;
}

button {
    padding: 10px 25px;
    background-color: #262626;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 16px;
}