#map {
    height: 400px;
    min-width: 10px;
}

#map2 {
    height: 400px;
    min-width: 10px;
}

#exampleImg {
    height: 200px;
    width: 200px;
    background-color: #e2e2e2;
    border-radius: 50%;
}

.auto-container{
    padding: 50px;
}

.flex-content{
    display: flex;
    flex-direction: row;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a{
    text-align: center;
    width: 80%;
    padding: 70px 14px;
    font-size: 22px;
    border-bottom: solid gray 0.5px;
}

.sidebar-container{
    padding-top: 46px;
    width: 18rem;
    z-index: 10;
    background-color: #262626;
}