body {
    background-image: url("../img/athlete-g9d2b14e2b_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#diagram {
    flex-wrap: wrap-reverse;
}

.map1{
    width: 100%;
    height: 400px;
}

#bild1 {
    background-image: url("../img/man-g2460e8d1e_1920.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 450px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/athlete-g9d2b14e2b_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
    color: white !important;
}

.navbar{
    background-color: transparent;
}