body{
    background-image: url("../img/athlete-g9d2b14e2b_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#diagram {
    flex-wrap: wrap-reverse;
}

.map1 {
    width: 100%;
    height: 400px;
    background-color: lightgray;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/athlete-g9d2b14e2b_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
    color: white !important;
}

.navbar a{
    color: white;
}

