@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Nunito:wght@200&display=swap');
* {
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Nunito';
    font-weight: bold;
}

a {
    color: white;
}

section {
    background-color: white;
}

.full-container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.half-container {
    height: 70vh;
    width: 100%;
    padding: 100px 150px;
    box-sizing: border-box;
    display: block;
}

.auto-container {
    min-height: 70vh;
    width: 100%;
    padding: 100px 150px;
    box-sizing: border-box;
    display: block;
}

.box-container {
    width: 100%;
    background-color: rgb(198, 217, 236, 0.3);
    border-radius: 20px 20px 20px 20px;;
    margin: auto;
    line-height: 2;
    font-size: 18px;
    box-sizing: border-box;
    padding: 6% 10%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgb(198, 217, 236, 0.4);
    border-radius: 20px 20px 20px 20px;;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1rem;
    margin-bottom: 100px;
}

.gap {
    height: 5vh;
    width: 100%;
}

.column-lg {
    width: 60%;
    padding: 15px;
    box-sizing: border-box;
}

.column-sm {
    width: 40%;
}

.column {
    background-color: rgb(198, 217, 236, 0.3);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 20px 20px 20px 20px; 
}

.title1 {
    text-align: center;
    font-family: 'Gemunu Libre';
    font-size: 60px;
}

.title2 {
    text-align: center;
    font-family: 'Gemunu Libre';
    font-size: 50px;
}

.title3 {
    font-family: 'Gemunu Libre';
    font-size: 50px;
}

.title4 {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.title5 {
    font-family: 'Gemunu Libre';
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar a, .navbar button {
    font-family: 'Gemunu Libre';
    font-weight: 500;
    font-size: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navbar button {
    padding: 10px 25px;
    background-color: #262626;
    border-radius: 50px;
    border: none;
    color: white;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.bottom-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.modal {
    left: 35%;
    position: absolute;
    box-sizing: border-box;
    padding: 50px;
    width: 30%;
    top: 10%;
    background-color: white;
    border-radius: 10px;
    display: none;
}

input[type=text], input[type=password], input[type=email], select {
    width: 90%;
    padding: 12px 12px;
    font-size: 16px;
    margin: 8px 0;
}

.pricing table {
    width: 100%;
    background-color: white;
}

.pricing td, .pricing th {
    border: 1px solid #ddd;
    padding: 20px;
    font-size: 20px;
}

.pricing th {
    color: #262626 !important;
    text-align: left;
}

.pricing tr:nth-child(even) {
    background-color: rgb(242, 242, 242, 1);
}

.pricing tr:nth-child(odd) {
    background-color: rgb(255, 255, 255, 1);
}

.pricing tr:hover {
    background-color: rgba(198, 217, 236, 0.6);
}

.pricing th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
}

@media screen and (max-width: 1024px) {
    .auto-container, .half-container {
        padding: 100px 20px;
    }
    .navbar a {
        margin: 0px;
    }
}

@media screen and (max-width: 768px) {
    #map {
        height: 300px !important;
    }
    .column-lg, .column-sm {
        width: 100%;
    }
}