@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Nunito:wght@200&display=swap');
body {
    padding: 0%;
    margin: 0%;
    font-family: 'Nunito';
}

.full-container {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.half-container {
    height: 70vh;
    width: 100%;
    padding: 100px 150px;
    box-sizing: border-box;
    display: block;
    background-color: white;
}

.auto-container {
    min-height: 70vh;
    width: 100%;
    padding: 100px 150px;
    box-sizing: border-box;
    display: block;
    background-color: white;
}

.box-container {
    width: 100%;
    background-color: rgb(198, 217, 236, 0.6);
    margin: auto;
    line-height: 2;
    font-size: 18px;
    box-sizing: border-box;
    padding: 6% 10%;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgb(198, 217, 236, 0.6);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 100px;
}

.gap {
    height: 5vh;
    width: 100%;
}

.column-lg {
    width: 60%;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
}

.column-sm {
    width: 40%;
    background-color: white;
}

.title1 {
    text-align: center;
    font-family: 'Gemunu Libre';
    font-size: 60px;
}

.title2 {
    text-align: center;
    font-family: 'Gemunu Libre';
    font-size: 50px;
}

.title3 {
    font-family: 'Gemunu Libre';
    font-size: 50px;
}

.title4 {
    text-align: center;
    font-family: 'Gemunu Libre';
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    font-family: 'Gemunu Libre';
    overflow: hidden;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    margin: 0px 40px;
    cursor:pointer;
}

.modal {
    left:35%;
    position: absolute;
    box-sizing: border-box;
    padding: 50px;
    width: 30%;
    top: 10%;
    background-color: white;
    border-radius: 10px;
    display: none;
}

input[type=text],input[type=password],input[type=email],select {
    width: 90%;
    padding: 12px 12px;
    font-size: 16px;
    margin: 8px 0;
}

@media screen and (max-width: 1024px) {
    .auto-container, .half-container {
        padding: 100px 20px;
    }
    .navbar a {
        margin: 0px;
    }
}

@media screen and (max-width: 768px) {
    #map {
        height: 300px !important;
    }
    .column-lg, .column-sm {
        width: 100%;
    }
}